<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>

  <meta charset="utf-8" />
  <title>Dashboard | Upcube - Admin & Dashboard Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesdesign" name="author" />

  <!-- App favicon -->
  <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">

  <!-- jquery.vectormap css -->
  <link th:href="@{/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />

  <!-- DataTables -->
  <link th:href="@{/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />

  <!-- Responsive datatable examples -->
  <link th:href="@{/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" />

  <!-- Bootstrap Css -->
  <link th:href="@{/assets/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link th:href="@{/assets/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" >

</head>

<body>

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">


  <div th:replace="fragments/header :: header"></div>

  <!-- ========== Left Sidebar Start ========== -->
  <div th:replace="fragments/sidemenu :: side-menu"></div>
  <!-- Left Sidebar End -->



  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">

    <div layout:fragment="content"></div>
    <!-- End Page-content -->

    <div th:replace="fragments/footer :: footer"></div>


  </div>
  <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<!-- Right Sidebar -->

<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- JAVASCRIPT -->
<script th:src="@{/assets/libs/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/libs/metismenu/metisMenu.min.js}"></script>
<script th:src="@{/assets/libs/simplebar/simplebar.min.js}"></script>
<script th:src="@{/assets/libs/node-waves/waves.min.js}"></script>


<!-- apexcharts -->
<script th:src="@{/assets/libs/apexcharts/apexcharts.min.js}"></script>

<!-- jquery.vectormap map -->
<script th:src="@{/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js}"></script>
<script th:src="@{/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js}"></script>

<!-- Required datatable js -->
<script th:src="@{/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>

<!-- Responsive examples -->
<!--<script th:src="@{/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>-->
<!--<script th:src="@{/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>-->

<script th:src="@{/assets/js/pages/datatables.init.js}"></script>

<!-- App js -->
<script th:src="@{/assets/js/app.js}"></script>

<script th:src="@{/assets/js/validate.min.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script th:src="@{/assets/js/code.js}"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


<script layout:fragment="script">

</script>
</body>

</html>
