<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"

>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<div layout:fragment="content" class="page-content">
  <div class="container-fluid">

    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
          <h4 class="mb-sm-0">Supplier All</h4>



        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <div class="d-flex justify-content-end">

              <a th:href="@{/customers/add-customer}" class="position-relative btn btn-dark btn-rounded waves-effect waves-light">add customer</a>
            </div>
            <h4 class="card-title">Supplier All Data </h4>


            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
              <thead>
              <tr>
                <th>Sl</th>
                <th>name</th>
                <th>customer image</th>
                <th>email</th>
                <th>address</th>
                <th>Action</th>

              </thead>


              <tbody>

              <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td >
                  <img th:src="@{/assets/upload/{image}(image=${customer.customer_image})}" />
                </td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.address}"></td>
                <td>
                  <a th:href="@{/customers/edit-customer/{id}(id=${customer.id})}" class="btn btn-info sm" title="Edit Data">  <i class="fas fa-edit"></i> </a>
                  <a th:href="@{/customers/delete-customer/{id}(id=${customer.id})}" class="btn btn-danger sm" title="Delete Data" id="delete">  <i class="fas fa-trash-alt"></i> </a>

                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div> <!-- end col -->
    </div> <!-- end row -->

  </div> <!-- container-fluid -->
  <script type="text/javascript">

    var alertType = '[[${toastAlert}]]';
    var alertMessage = '[[${toastMessage}]]';
    if(alertType != undefined && alertType != ''){
      if(alertType == 'success'){
        toastr.success(alertMessage);
      }
      else if(alertType == 'error'){
        toastr.error(alertMessage);
      }
    }

  </script>
</div>





</body>
</html>
