<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"

>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div layout:fragment="content" class="page-content">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <div class="container-fluid">

    <div class="alert alert-success" role="alert" th:if="${flash}" th:text="${flash}">

    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <h4 class="card-title">Edit customer Page </h4><br><br>


            <form method="post" th:action="@{/customers/edit-customer/{id}(id=${customer.id})}" id="add-customer" th:object="${customer}"
                  enctype="multipart/form-data"
            >

              <div class="d-none">
                <input name="id" class="form-control hidden" type="text" th:field="*{id}">

              </div>
              <div class="row mb-3">
                <label for="example-text-input" class="col-sm-2 col-form-label">Customer name</label>
                <div class="form-group col-sm-10">
                  <input name="name" class="form-control" type="text" th:field="*{name}" >
                  <!--                  <span th:if="${#fields.hasError('name')}" th:error="*{name}"></span>-->
                </div>
              </div>
              <!-- end row -->

              <div class="row mb-3">
                <label for="example-text-input" class="col-sm-2 col-form-label">Customer mobile number</label>
                <div class="form-group col-sm-10">
                  <input name="mobile_number" class="form-control" type="text" th:field="*{mobile_number}" >
                </div>
              </div>
              <!-- end row -->

              <div class="row mb-3">
                <label for="example-text-input" class="col-sm-2 col-form-label">Customer email</label>
                <div class="form-group col-sm-10">
                  <input name="email" class="form-control" type="email" th:field="*{email}" >
                </div>
              </div>
              <!-- end row -->

              <div class="row mb-3">
                <label for="example-text-input" class="col-sm-2 col-form-label">Customer address</label>
                <div class="form-group col-sm-10">
                  <input name="address" class="form-control" type="text" th:field="*{address}" >
                </div>
              </div>
              <!-- end row -->

              <div class="row mb-3">
                <label for="example-text-input" class="col-sm-2 col-form-label">Customer Image </label>
                <div class="form-group col-sm-10">
                  <input name="customerImage" class="form-control" type="file"  id="image">
                  <input class="d-none form-control" type="text" th:field="*{customer_image}" >
                </div>
              </div>
              <!-- end row -->

              <div class="row mb-3">
                <label for="example-text-input" class="col-sm-2 col-form-label">  </label>
                <div class="form-group col-sm-10">
                  <img th:if="!${customer.customer_image}" id="showImage" class="rounded avatar-lg" th:src="@{/assets/upload/no_image.jpg}" alt="Card image cap">
                  <img th:if="${customer.customer_image}" id="showImage" class="rounded avatar-lg" th:src="@{/assets/upload/{image}(image=${customer.customer_image})}" alt="Card image cap">
                </div>
              </div>

              <input type="submit" class="btn btn-info waves-effect waves-light" value="edit customer">
            </form>

          </div>
        </div>
      </div> <!-- end col -->
    </div>
  </div>

  <script type="text/javascript">

    //toastr.error("There are errors with the email or password");
    //toastr.success("You are logout");

    $(document).ready(function (){
        $('#add-supplier').validate({
            rules: {
                name: {
                    required : true,
                },
                mobile_number: {
                    required : true,
                },
                email: {
                    required : true,
                },
                address: {
                    required : true,
                },
            },
            messages :{
                name: {
                    required : 'Please Enter Your Name',
                },
                mobile_number: {
                    required : 'Please Enter Your Mobile Number',
                },
                email: {
                    required : 'Please Enter Your Email Address',
                },
                address: {
                    required : 'Please Enter Your Address',
                },
            },
            errorElement : 'span',
            errorPlacement: function (error,element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight : function(element, errorClass, validClass){
                $(element).addClass('is-invalid');
            },
            unhighlight : function(element, errorClass, validClass){
                $(element).removeClass('is-invalid');
            },
        });
    });
  </script>

  <script type="text/javascript">

    $(document).ready(function(){
        $('#image').change(function(e){
            var reader = new FileReader();
            reader.onload = function(e){
                $('#showImage').attr('src',e.target.result);
            }
            reader.readAsDataURL(e.target.files['0']);
        });
    });

  </script>

</div>
</body>
</html>
